@media (max-width: 48em) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav {
    display: none;
  }

  .hero-content {
    align-items: flex-start;
    text-align: start;
    height: 70vh;
    padding-top: 3rem;
  }

  .hero h1 {
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .hero .text {
    font-size: 2rem;
    width: 85%;
  }

  .hero .hero-btn {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .about .about-content {
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 2rem;
  }

  .about img {
    display: none;
  }

  .services .container .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    font-size: 2rem;
  }

  .contact {
    font-size: 2rem;
  }

  .contact .contact-content {
    grid-template-columns: 1fr;
    font-size: 2rem;
  }

  .form {
    order: 1;
  }

  .form .label {
    font-size: 2rem;
  }

  .group input,
  .group textarea {
    font-size: 2rem;
  }

  .form form .form-btn {
    font-size: 2rem;
  }

  .alt .foot {
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
  }

  .founder-box {
    flex-direction: column;
  }

  .desc h3 {
    font-size: 3rem;
  }

  .founder-box .desc {
    font-size: 2rem;
  }

  .founder-box.box-2 .desc {
    order: 1;
  }

  .footer p {
    font-size: 2rem;
  }
}
